<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    body {
      display: flex;
      align-items: flex-start; /* Change this to flex-start */
      justify-content: center;
      height: 32vh; /* This ensures full viewport height */
      margin: 0;
    }


    </style>
</head>
<body>
  <div>
    <!-- Your content goes here -->

<p>Name: {{show.name}} &emsp; &nbsp; &nbsp; &nbsp;
<button class="hoverboard-button">Sign-up </button>&nbsp;
<button class="hoverboard-button">Log-in </button>&nbsp; </p>
<br>
<br>
<button class="hoverboard-button">Home </button>&nbsp;
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
<button class="hoverboard-button">Find... </button>&nbsp;
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
<button class="hoverboard-button">Check out </button>&nbsp;
  </div>
</body>
<!-- <input [value]="time"> -->
<p>
<input mytime="name" [value]="124335" (input)="whenchanged($event)"> </p>
<p>ID {{Name}}</p>
</html>








