<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    body {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 35vh;
      margin: 0;
      padding: 20px; /* Optional: Add some padding for better aesthetics */
    }

    .product-info {
      width: 45%; /* Adjust the width as needed */
    }

    .product-image {
      width: 45%; /* Adjust the width as needed */
    }

    img {
      max-width: 100%; /* Ensure the image doesn't exceed its container */
      height: auto;
      display: block; /* Remove extra space below inline images */
      margin: 0 auto; /* Center the image horizontally within its container */
    }
  </style>
  <title>Product Details</title>
</head>
<body>
  <!-- <input [value] = "Name" (input)="whenchanged($event)"><br> -->
  <div class="product-info">
    <h2>Product: {{product.name}}</h2>
    <p>Description: {{product.description}}</p>
    <p>Stock Availability: {{ isAvailable ? 10 : 0 }}</p>
  </div>
  <div class="product-image">
    <img [src] = "product.image">

    <button [disabled]="!product.stock">Buy Now!</button>
    <button [disabled]="product.stock">Buy Now!</button>

    <button [disabled]="!isAvailable" class="red-button">Buy Now! (Property Binding)</button>
    <button [disabled]="!isAvailable ? null : true" class="yellow-button">Buy Now! (String Interpolation)</button>
    
    <!-- <input [value]="time">
    <p></p>
    <input mytime="name" [value]="time" (input)="whenchanged($event)"> -->
  </div>
</body>
</html>







